{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %} 
<style>
  ul {
    list-style-type: none;
  }
</style> 
  <form method="POST" action="">
    {% csrf_token %}
    <h2>{% trans "Change password" %}</h2>
    <div class="container">
      <div class="border rounded-lg p-3 mb-3 bg-light">
        {% if form.errors %}
        {% endif %}
        <div class="row mb-3">
          {% for field in form %}
          <div class="col text-right mb-1">
            {{field.label }}:
          </div>
          <div class="col text-left mb-1">
            <input class="form-control w-50" type="password" name="{{ field.name }}" {% if field.name == "old_password" %}autocomplete="current-password"{% endif %}> {{field.errors }}
          </div>
          <div class="w-100"></div>
          {% endfor %}
        </div>
        {{ form.new_password1.help_text }}
      </div>
    </div>
    <input class="btn btn-primary" type="submit" value="{% trans "Save" %}">
  </form> 
{% endblock %}