{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Edit Address" %}{% endblock %}

{% block content %} 
  <h2>{% trans "Edit Address" %}</h2>

  <!-- edit address form -->
  <div class="container">
  <div class="col border rounded-lg p-2 mb-5 bg-light">
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
    {% for field in form %}
    <div class="col my-auto text-right">
    {{field.label }}:
    </div>
    <div class="col text-left">
      <div class="w-50">
      {{field}}
      {{field.errors}}
      </div>
    </div>
    <div class="w-100 my-2"></div>
    {% endfor %}
    </div>
    <!-- next redirect field if exists -->
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}

    <!-- submit -->
    <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
  </form> 
  </div>
  </div>
{% endblock %}