{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Delete item" %} - {{item.name}}{% endblock %}
{% block content %} 
<div class="container border rounded-lg p-4 mb-3 bg-light">
  <form method="POST" action="{% url 'delete_item' item=item.id %}">
    {% csrf_token %}
    <h1>{% trans "Are you sure you want to remove item" %} "{{item.name}}"? </h1>
    <a class="btn btn-secondary" href="{% url 'view_item' item=item.id %}">{% trans "Cancel" %}</a>
    <input class="btn btn-danger" type="submit" value="{% trans "Yes" %}">
  </form>
</div> 
{% endblock %}